/*
use [master];
IF EXISTS (SELECT * FROM SYS.DATABASES WHERE NAME='Project_6_semester')
BEGIN
	DROP DATABASE Project_6_semester;
END
CREATE DATABASE Project_6_semester;
*/

use Project_6_semester;
GO

drop table if exists Rent;
drop table if exists Employees;
drop table if exists Employees_roles;
drop table if exists Pavilion;
drop table if exists Pavilion_statuses;
drop table if exists Mall;
drop table if exists Rent_statuses;
drop table if exists Tenants;
GO

drop table if exists Employees_roles;
create table Employees_roles(
	[role_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[role_name] nvarchar(255) NOT NULL
);

drop table if exists Employees;
create table Employees(
	[employe_id] bigint NOT NULL PRIMARY KEY IDENTITY,
	[name] nvarchar(255) NOT NULL,
	[surname] nvarchar(255) NOT NULL,
	[patronymic] nvarchar(255) NOT NULL,
	[login] nvarchar(255) NOT NULL,
	[password] nvarchar(255) NOT NULL,
	[role] [bigint] NOT NULL,
	[phone] nvarchar(40) NOT NULL,
	[sex] nvarchar(1) NOT NULL
	check(sex = 'М' or sex = 'Ж'),
	[photo] varbinary(max) default null,
	FOREIGN KEY ([role]) REFERENCES Employees_roles ([role_id])
);

drop table if exists Mall_statuses;
create table Mall_statuses(
	[status_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[status_name] nvarchar(255) NOT NULL
);

drop table if exists Mall;
create table Mall(
	[mall_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[mall_name] nvarchar(255) NOT NULL,
	[status_id] bigint NOT NULL,
	[cost] decimal(38,5) NOT NULL,
	[number_of_pavilion] [int] NOT NULL,
	[city] nvarchar(255) NOT NULL,
	[value_added_factor] [float] NOT NULL,
	[number_of_storeys] [int] NOT NULL,
	[photo] varbinary(max) default null,
	FOREIGN KEY ([status_id]) REFERENCES Mall_statuses ([status_id])
);

drop table if exists Pavilion_statuses;
create table Pavilion_statuses(
	[status_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[status_name] nvarchar(255) NOT NULL
);

drop table if exists Pavilion;
create table Pavilion(
	[mall_id] [bigint] NOT NULL,
	[pavilion_number] nvarchar(20) NOT NULL,
	PRIMARY KEY ([mall_id], [pavilion_number]),
	[floor] [int] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[square] decimal(20,5) NOT NULL,
	[cost_per_square_meter] decimal(20,5) NOT NULL,
	[value_added_factor] [float] NOT NULL,
	FOREIGN KEY ([status_id]) REFERENCES Pavilion_statuses ([status_id]),
	FOREIGN KEY ([mall_id]) REFERENCES Mall ([mall_id])
);

drop table if exists Tenants;
create table Tenants(
	[tenant_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[company_name] nvarchar(255) NOT NULL,
	[phone] nvarchar(40) NOT NULL,
	[address] nvarchar(255) NOT NULL
);

drop table if exists Rent_statuses;
create table Rent_statuses(
	[status_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[status_name] nvarchar(255) NOT NULL
);

drop table if exists Rent;
create table Rent(
	[rent_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[tenant_id] [bigint] NOT NULL,
	[mall_id] [bigint] NOT NULL,
	[pavilion_number] nvarchar(20) NOT NULL,
	[employee_id] [bigint] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	FOREIGN KEY ([employee_id]) REFERENCES Employees ([employe_id]),
	FOREIGN KEY ([tenant_id]) REFERENCES Tenants ([tenant_id]),
	FOREIGN KEY ([status_id]) REFERENCES Rent_statuses ([status_id]),
	FOREIGN KEY ([mall_id], [pavilion_number]) REFERENCES Pavilion ([mall_id], [pavilion_number])
);

insert into Employees_roles([role_name]) values
('Администратор'),
('Менеджер А'),
('Менеджер С'),
('Удалён');


insert into Mall_statuses(status_name) values
('План'),
('Строительсто'),
('Удалён'),
('Реализация');


insert into Pavilion_statuses(status_name) values
('Свободен'), -- в будущ нет ничего
('Забронировано'), -- есть интервал
('Удалён'), -- 
('Арендован'); -- сейчас идет



insert into Tenants(company_name, phone, address) values
('AG Marine', '+7 (495) 526 14 53', 'Москва, Бабаевская улица д.16'),
('Art-elle', '+7 (495) 250 58 94', 'Санкт-Петербург, Амбарная улица д.25 корп.1'),
('Atlantis', '+7 (495) 424 11 65', 'Новосибирск, Улица Каменская д.16'),
('Corporate Travel', '+7 (495) 245 39 05', 'Екатеринбург, Улица Антона Валека д.56'),
('GallaDance', '+7 (495) 316 77 94', 'Нижний Новгород, Улица Ларина д. 34');

insert into Rent_statuses(status_name) values
('Открыт'),
('Ожидание'),
('Закрыт');



/*
select * from Tenants

select * from Employees

select em.*, er.role_name from Employees em
join Employees_roles er on em.role = er.role_id

select * from mall
where mall_name like '%рио%'

select * from mall m
join mall_statuses ms on ms.status_id = m.status_id

select * from Pavilion
select * from Pavilion_statuses

select * from Rent

select 
	p.mall_id,
	p.pavilion_number,
	ps.status_name [статус павильона],
	re.rent_id,
	re.start_date,
	re.end_date,
	rs.status_name [статус аренды]
from Pavilion p
join Pavilion_statuses ps on 
	ps.status_id = p.status_id
join Rent re on 
	re.mall_id = p.mall_id and 
	re.pavilion_number = p.pavilion_number
join Rent_statuses rs on 
	rs.status_id = re.status_id
where ps.[status_id] <> 3

*/

--************************************************************************
GO
IF EXISTS (SELECT name FROM sysobjects WHERE name = 'UpdateRentsAndPavilions' AND type = 'P')
BEGIN
   DROP PROCEDURE UpdateRentsAndPavilions;
END;
GO

/*
ПЕРЕНОС СРОКА АРЕНДЫ
Создайте  и выполните хранимую процедуру, которая перенесет срок аренды всех павильонов на год и обновит статусы павильонов в связи с переносом даты. 
*/

GO
CREATE PROCEDURE UpdateRentsAndPavilions AS
BEGIN
	declare @months int = 12 * 3 + 2;

	UPDATE rent
	SET 
		[start_date] = DATEADD(MONTH, @months, [start_date]), 
		[end_date] = DATEADD(MONTH, @months, [end_date]);

	UPDATE rent
	SET status_id = 
	CASE
		WHEN [start_date] <= GETDATE() AND [end_date] >= GETDATE()
		THEN 1 --открыт
		WHEN [start_date] > GETDATE()
		THEN 2 --ожидание
		WHEN [end_date] < GETDATE()
		THEN 3 --закрыт
	END;

	/*
	('Свободен'), -- в будущ нет ничего
	('Забронировано'), -- есть интервал
	('Удалён'), -- 
	('Арендован'); -- сейчас идет
	*/

	UPDATE Pavilion
	SET status_id = 
	CASE
		WHEN EXISTS (SELECT rent_id FROM rent WHERE [start_date] <= GETDATE() AND [end_date] >= GETDATE() AND pavilion_number = p.pavilion_number)
		THEN 4 --арендован
		WHEN EXISTS (SELECT rent_id FROM rent WHERE [start_date] > GETDATE() AND pavilion_number = p.pavilion_number)
		THEN 2 --забронирован
		ELSE 1 --свободен
	END
	FROM Pavilion p 
	JOIN rent r ON 
		r.pavilion_number = p.pavilion_number
END;
GO

print('=======UpdateRentsAndPavilions=======')
exec UpdateRentsAndPavilions;